<!-- 全ページ共通に表示する項目 -->
<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("Twitter", "/posts/index") %>
        <% else %>
          <%= link_to("Twitter", "/") %>
        <% end %>
      
      <div class="header-logo-twitter">
        <% if @current_user %>
          <%= link_to("/posts/index") do%>
            <span class="fa fa-twitter login"></span>
          <%end%>
        <%else%>
          <%= link_to("/") do%>
            <span class="fa fa-twitter not-login"></span>
          <%end%>
        <%end%>
      </div>
      </div>
      
      <% if @current_user %>.
      <ul class="header-menus-login">
        <li>
          <%= link_to("Login:#{@current_user.name}", "/users/#{@current_user.id}")%>
        </li>
        <li>
          <%= link_to("Tweet list", "/posts/index") %>
        </li>
        <li>
          <%= link_to("New", "/posts/new") %>
        </li>
        <li>
          <%= link_to("Member", "/users/index") %>
        </li>
        <li>
          <%= link_to("Logout", "/logout", :method => :post) %>
        </li>
      </ul>
      <% else %>
      <ul class="header-menus-not-login">
        <li>
          <%= link_to("About", "/about")%>
        </li>
        <li>
          <%= link_to("Sign up", "/signup")%>
        </li>
        <li>
          <%= link_to("Login", "/login")%>
        </li>
      </ul>
      <%end%>

      </ul>
    </header>
    <% if flash[:notice]%>
    <div class="flash" id="notice">
      <%= flash[:notice]%>
    </div>
    
    <script type="text/javascript">
      $(function() {
      setTimeout(function() {
      $('#notice').fadeOut("slow");
      }, 5000);
      });
    </script>
    
    <%end%>
    <%= yield %>
  </body>
</html>
